{deps, [
  {brod,{git,"https://github.com/klarna/brod",{tag,"3.7.9"}}},
  {supervisor3,{git,"https://github.com/klarna/supervisor3",{tag,"1.1.8"}}}
]}.

{profiles,
  [{test, [
    {deps, [ {emqx_ct_helper, {git, "https://github.com/emqx/emqx-ct-helper", {tag, "v1.1.1"}}}
    ]}
  ]}]}.

{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  warn_obsolete_guard,
  debug_info,
  {parse_transform}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
  locals_not_used, deprecated_function_calls,
  warnings_as_errors, deprecated_functions]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.